@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

/* links 
---------------------------------------------------------------------- */
a,
a:visited {
	outline: none;
	color: white;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #fdc501;
}

/* Lists  
--------------------------------------------------------------------- */
ul,
ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: disc;
	margin-left: 17px;
}

dl {
	margin: 0 0 15px 0;
}

dt {
	margin: 0;
	color: #fdc501;
}

dd {
	margin: 0 0 0 20px;
}
